<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Hudson House</title>

        <!-- MATERIAL CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/master.css" />
        <script src="/javascript/master.js"></script>
    </head>
    <body>
        <nav class="green darken-4">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">HHNY</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Photo Tour</a></li>
                        <li><a href="/amenities">Amenities</a></li>
                        <li><a href="#">Rates and Reservations</a></li>
                        <li><a href="#">Contact and Directions</a></li>
                    </ul>

                    <ul class="sidenav" id="mobile-demo">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Photo Tour</a></li>
                        <li><a href="/amenities">Amenities</a></li>
                        <li><a href="#">Rates and Reservations</a></li>
                        <li><a href="#">Contact and Directions</a></li>
                    </ul>
                </div>
            </div>
        </nav>