<% include partials/header %>

<section id="bedrooms" class="py-5">
    <div class="container">
        <h1 class="display-4 pb-2">Bedrooms:</h1>
        <div class="row py-2">
            <div class="col-md-6 col-sm-12">
                <figure class="figure">
                    <img src="/images/house/Set056.jpg" alt="Alt" class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="lead">
                    <i class="fas fa-users"></i> Max Occupancy: 17
                </p>
                <p class="lead">
                    <i class="fas fa-bed"></i> Bedrooms: 7
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 King</li>
                        <li class="list-group-item">4 Queen</li>
                        <li class="list-group-item">1 Full</li>
                        <li class="list-group-item">3 Twin</li>
                        <li class="list-group-item">2 Air Mattresses</li>
                    </ul>
                </p>
                <p class="lead">
                    <i class="fas fa-bath"></i> Baths: 3
                </p>
            </div>
        </div>

        <h1 class="display-4 pb-2">Living Areas:</h1>
        <div class="row py-2">
            <div class="col-md-6 col-sm-12">
                <figure class="figure">
                    <img src="/images/house/Set114.jpg" alt="Living Area" class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Living Room</li>
                    <li class="list-group-item">Gathering Room</li>
                    <li class="list-group-item">Dining Room (10+ Seating)</li>
                    <li class="list-group-item">Rec Room</li>
                    <li class="list-group-item">Loft Hang Out</li>
                    <li class="list-group-item">"Rack Rm" (Sports Equipnment storage)</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>