<% include partials/header %>

<div class="parallax-container">
    <div class="parallax">
        <img src="/images/fly-over.jpg">
    </div>
</div>
<div class="section white">
    <div class="row container center-align">
        <h1 class="header">The Hundson House</h1>
        <h5 class="grey-text text-darken-3 lighten-3">Luxury Accommodations Year-Round</h5>
        <p>
            The Hudson House is an authentic mission style tourist home that has been serving Adirondack vacation guests for over 80 years. 
            A large Garnet fireplace anchors the main family room. Seven bedrooms, three full bathrooms, a large gourmet kitchen and multiple 
            spacious gathering rooms can easily accommodate 17 people. 
            The home has been fully restored to its original charm and warmth. All the finishes have been updated and furnishings have all been replaced.
        </p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="images/cabin.jpg">
    </div>
</div>

<% include partials/footer %>